<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>Other Mirror Repository</name>
      <url>http://host.docker.internal:8081/repository/maven-test-proxy/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>nexus</id>
      <username>mahmad</username>
      <password>gsmp1000</password>
    </server>
  </servers>
</settings>