<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>Other Mirror Repository</name>
      <url>http://134.86.96.23:8081:8081/repository/maven-central/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>nexus</id>
      <username>jenkins</username>
      <password>jenkins</password>
    </server>
  </servers>
</settings>